<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start">
      <ion-menu-button menu="menu1"></ion-menu-button>
    </ion-button>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="form-container">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>

      <ion-button expand="full" type="submit" [disabled]="!editForm.valid">Login</ion-button>
    </form>
  </div>
</ion-content>